{
  "branding": {
    "author": "brheringer",
    "product": "org"
  },
  "azureDevOps": {
    "organization": "org",
    "project": "proj",
    "repositories": ["repo1", "repo2"],
    "areaPathsOfInterest": ["Project\\Team A", "Project\\Team B"],
    "authors": ["Alice Example", "Bob Example"]
  },
  "sonarCloud": {
    "organization": "org",
    "projects": [
      { "key": "proj1", "repository": "repo1" },
      { "key": "proj2", "repository": "repo2" }
    ]
  },
  "cutDate": "2024-01-01"
}
